<template>
  <div>
    <q-card-actions v-if="canChange">
      <add-ligilo :dark="dark" :obj-id="objId"></add-ligilo>
    </q-card-actions>
    <q-card
      :dark="dark"
      class="my-card"
      flat
      bordered
      v-for="(item, idx) of ligoj.list"
      :key="idx + 'item'"
    >
      <list-item
        :icon="$q.screen.gt.xs ? undefined : 'none'"
        :to="'/p' + item[1].node.item.objId"
        :dark="dark"
        :label="item[1].node.item.nomo.enhavo"
        :caption="itemPriscriboContent(item[1].node.item.priskribo.enhavo)"
      >
        <q-item-section side @click.prevent="changeLigilo(item)"
          >{{ textLigoj(item[1].node) }}
        </q-item-section>
        <q-item-section v-if="canChange" side>
          <q-btn
            color="accent"
            icon="delete_sweep"
            round
            size="md"
            @click.prevent="deleteLigilo(item[0])"
          >
            <q-tooltip content-class="bg-accent">Удалить связь</q-tooltip>
          </q-btn>
        </q-item-section>
      </list-item>
    </q-card>
    <change-ligilo-tipo
      :dark="dark"
      :uuid="uuidChangedLigilo"
      v-model:show-change-ligilo-dialog="showChangeLigiloDialog"
      :tipo-id="tipoChangedLigilo"
    ></change-ligilo-tipo>
  </div>
</template>
<script>
import AddLigilo from 'components/Ligilo/AddLigiloDialog'
import ChangeLigiloTipo from 'components/Ligilo/ChangeLigiloTipo'
import ListItem from 'components/Items/ListItem'
import { confirmDialogParams, itemPriscriboContent } from 'src/utils'

export default {
  name: 'projekto-ligoj',
  components: { AddLigilo, ListItem, ChangeLigiloTipo },
  props: {
    canChange: Boolean,
    objId: {},
    dark: Boolean,
    ligoj: {}
  },
  data() {
    return {
      itemPriscriboContent,
      showChangeLigiloDialog: false,
      uuidChangedLigilo: null,
      tipoChangedLigilo: null
    }
  },
  methods: {
    textLigoj(item) {
      // под id=1 в бакенде тип связи Дочерний
      // при изменении, тут надо поменять
      if (item.tipo.objId === 1 && item.ligilo === 'posedanto') {
        return 'Родительский'
      } else {
        return item.tipo.nomo.enhavo
      }
    },
    changeLigilo(item) {
      this.uuidChangedLigilo = item[0]
      this.tipoChangedLigilo = item[1].node.tipo.objId
      this.showChangeLigiloDialog = true
    },

    deleteLigilo(uuid) {
      const params = {
        uuid,
        forigo: true
      }
      this.$q
        .dialog({
          message: `Удалить связь?`,
          ...confirmDialogParams,
          dark: this.dark
        })
        .onOk(() => {
          this.$store.dispatch('ligoj/changeLigoj', params).then((resp) => {
            if (resp.status) {
              this.$q.notify({
                type: 'positive',
                message: resp.message
              })
            } else {
              this.$q.notify({
                type: 'negative',
                message: resp.message
              })
            }
          })
        })
    }
  },
  created() {
    // this.$store.dispatch('taskoj/fetchStatusoj');
  }
}
</script>
<style lang="sass">
.my-card
  width: 100%
</style>
