<template>
  <q-item v-ripple :to="to" :dark="dark" v-if="visible" :dense="dense">
    <q-item-section avatar v-if="icon !== 'none'">
      <q-avatar v-if="avatar">
        <q-img spinner-color="white" :src="avatar" :size="avatarSize">
          <template v-slot:error>
            <div class="absolute-full flex flex-center bg-negative text-white">Нет изображения</div>
          </template>
        </q-img>
      </q-avatar>
      <q-avatar v-else :icon="icon" :size="iconSize" :color="iconColor" text-color="white" />
    </q-item-section>
    <q-item-section>
      <q-item-label lines="3" v-if="label"
        >{{ label }}
        <q-badge v-if="badgeLabel" align="middle" color="accent" outline rounded
          >{{ badgeLabel }}
        </q-badge>
      </q-item-label>
      <q-item-label caption class="link-in-text" lines="4" v-if="caption"
        >{{ caption }}
      </q-item-label>
    </q-item-section>
    <slot></slot>
  </q-item>
</template>
<script>
export default {
  name: 'ListItem',
  props: {
    to: String,
    dark: Boolean,
    icon: {
      default: 'star_rate',
      type: String
    },
    iconColor: {
      default: 'accent',
      type: String
    },
    iconSize: String,
    label: String,
    caption: String,
    badgeLabel: String,
    avatar: String,
    avatarSize: String,
    visible: {
      type: Boolean,
      default: true
    },
    dense: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {}
  }
}
</script>
