<template>
  <q-page padding class="q-pa-none q-ma-none">
    <div class="row">
      <div class="col-12">
        <BlockBordered class="q-pa-sm" ref="mainBlock" :class="{ h100percent: $q.screen.gt.sm }">
          <!--          <div class="row  ">-->
          <!--            <div class="q-pb-md"-->
          <!--                 :class="[$q.screen.gt.sm?'col-8':'col-12' ,$q.screen.gt.sm?'q-pr-sm':'']">-->
          <!--              <q-card class="my-card q-pa-none"-->
          <!--                      :dark="dark">-->
          <!--                <q-parallax :height="290"-->
          <!--                            :speed="0.14"-->
          <!--                            src="~assets/background-komumumo-avataro.png"-->
          <!--                >-->
          <!--                  <template v-slot:content="scope">-->
          <!--                    <div-->
          <!--                      class="absolute column items-start "-->
          <!--                      :style="{-->
          <!--            opacity: 0.75 + (scope.percentScrolled) * 0.25,-->
          <!--            top: (scope.percentScrolled * 90-10) + '%',-->
          <!--            left: 0,-->
          <!--            right: 0-->
          <!--          }"-->
          <!--                      style="color: aliceblue; text-shadow: 1px 1px 2px darkblue;"-->
          <!--                    >-->
          <!--                      <div class="text-h5 text-weight-bold text-white  q-pl-md">Teknokomo</div>-->
          <!--                      <div class="text-weight-bold text-grey-3  q-pl-md">-->
          <!--                        Добро пожаловать!                  </div>-->
          <!--                    </div>-->
          <!--                  </template>-->
          <!--                  &lt;!&ndash;            <q-item class="absolute-bottom text-h6"&ndash;&gt;-->
          <!--                  &lt;!&ndash;                    style="color: aliceblue; text-shadow: 0 0 darkblue;"&ndash;&gt;-->
          <!--                  &lt;!&ndash;                    :dark="dark">&ndash;&gt;-->
          <!--                  &lt;!&ndash;              <q-item-section>&ndash;&gt;-->
          <!--                  &lt;!&ndash;                <q-item-label>&ndash;&gt;-->
          <!--                  &lt;!&ndash;                  {{ komunumo.nomo.enhavo }}&ndash;&gt;-->
          <!--                  &lt;!&ndash;                </q-item-label>&ndash;&gt;-->
          <!--                  &lt;!&ndash;                <q-item-label class="text-caption text-weight-bold">&ndash;&gt;-->
          <!--                  &lt;!&ndash;                  {{ komunumo.priskribo.enhavo }}&ndash;&gt;-->
          <!--                  &lt;!&ndash;                </q-item-label>&ndash;&gt;-->
          <!--                  &lt;!&ndash;              </q-item-section>&ndash;&gt;-->
          <!--                  &lt;!&ndash;            </q-item>&ndash;&gt;-->
          <!--                </q-parallax>-->
          <!--              </q-card>-->
          <!--            </div>-->
          <!--            <div :class="[$q.screen.gt.sm?'col-4':'col-12',$q.screen.gt.sm?'q-pl-sm':'']"-->
          <!--                 class="q-pb-md"-->
          <!--            >-->
          <!--              <q-card class="my-card q-pa-none"-->
          <!--                      :dark="dark">-->
          <!--                <q-parallax :height="$q.screen.gt.sm?290:80"-->
          <!--                            src="~assets/background-komumumo-avataro.png">-->
          <!--                  <q-item :dark="dark">-->
          <!--                    <q-item-section>-->
          <!--                      <q-btn href="https://boosty.to/universo"-->
          <!--                             color="negative"-->
          <!--                             target="_blank"-->
          <!--                             type="a"-->
          <!--                             no-caps>Поддержать-->
          <!--                      </q-btn>-->
          <!--                    </q-item-section>-->
          <!--                  </q-item>-->
          <!--                  <q-item :dark="dark">-->
          <!--                    <q-item-section>-->
          <!--                      <q-avatar :size="$q.screen.gt.sm?'150px':'70px'">-->
          <!--                        <q-img src="~app/public/images/logo12.png"-->
          <!--                               spinner-color="white">-->
          <!--                          <template v-slot:error>-->
          <!--                            <div class="absolute-full flex flex-center bg-negative text-white">-->
          <!--                              Нет изображения-->
          <!--                            </div>-->
          <!--                          </template>-->
          <!--                        </q-img>-->
          <!--                      </q-avatar>-->
          <!--                    </q-item-section>-->
          <!--                  </q-item>-->
          <!--                </q-parallax>-->
          <!--              </q-card>-->
          <!--            </div>-->
          <!--          </div>-->
          <div class="row">
            <div
              class="q-pb-md"
              :class="[$q.screen.gt.sm ? 'col-8' : 'col-12', $q.screen.gt.sm ? 'q-pr-sm' : '']"
            >
              <q-card class="my-card" :dark="dark">
                <q-item :dark="dark">
                  <q-item-section>
                    <q-item-label caption v-html="announcementText" />
                  </q-item-section>
                </q-item>
              </q-card>
            </div>
            <div :class="[$q.screen.gt.sm ? 'col-4' : 'col-12', $q.screen.gt.sm ? 'q-pl-sm' : '']">
              <banner :dark="dark" />
            </div>
          </div>
        </BlockBordered>
      </div>
      <div class="col-12" :class="{ 'absolute-bottom': $q.screen.gt.sm }">
        <div class="row">
          <BlockBordered
            class="hvr-push my-info-block q-pa-sm cursor-pointer"
            :class="!$q.screen.gt.sm ? 'col-12' : 'col-4'"
            v-for="(tile, idx) in tiles"
            :key="idx"
          >
            <q-item dense v-ripple clickable @click="tileClick(tile.url)" class="q-px-none">
              <q-item-section avatar>
                <q-avatar square size="75px">
                  <q-img
                    :width="75 + 'px'"
                    :height="75 + 'px'"
                    :src="tile.image_url"
                    :alt="tile.title"
                  />
                </q-avatar>
              </q-item-section>
              <q-item-section>
                <q-item-label lines="1" class="text-white text-weight-medium"
                  >{{ tile.title }}
                </q-item-label>
                <q-item-label lines="2" caption class="text-white">{{ tile.text }} </q-item-label>
              </q-item-section>
            </q-item>
          </BlockBordered>
        </div>
      </div>
    </div>
  </q-page>
</template>
<script>
import { mapGetters } from 'vuex'
import { dom, openURL } from 'quasar'
import { defineAsyncComponent } from 'vue'

const { height, width } = dom

export default {
  name: 'IndexLoggedIn',
  components: {
    BlockBordered: defineAsyncComponent(() => import('components/Blocks/BlockBordered')),
    Banner: defineAsyncComponent(() => import('components/Banner'))
  },
  data() {
    return {
      tiles: [
        {
          image_url: 'images/main_help.png',
          title: 'Помочь в развитии проекта',
          url: 'https://boosty.to/universo',
          text: 'Полный перечень способов как можно помочь проекту в развитии.'
        },
        {
          image_url: '/images/main_doc.png',
          title: 'Документация',
          url: 'https://dok.universo.pro/ru/latest/',
          text: 'Всестороннее описание технологий и проектов Технокома.'
        },
        {
          image_url: '/images/main_apps.png',
          title: 'Проекты',
          url: '/gp',
          text: 'Перечень главных проектов Технокома.'
        }
      ],
      title: 'Главная',
      announcementText: `
<p>Teknokomo / RVM Univeso находится в разработке. Постепенно вы сможете делать действия по глобальным задачам, объединять ресурсы с единомышленниками, создавать Народные предприятия, Советы и Профсоюзы, формировать личный план действий, взаимодействовать и получать опыт в игровых виртуальных мирах имея возможность перенести ваш опыт в реальный мир, а также многое другое.</p>
<p>На текущий момент платформу заполняют информацией администраторы и у пользователей нет возможности создавать свои сообщества, проекты и т.д.  Эта возможность появится позже.</p>
<p>Если вы хотите помочь трудом и идеями в развитии платформы, сообществ и проектов, вы можете направить ваши предложения на почту <a href="mailto:ideo@universo.pro">ideo@universo.pro</a></p>
<p>Для финансовой поддержки на Boosty можно выбрать ежемесячную подписку или цели для разовой поддержки <a href="https://boosty.to/universo" target="_blank">https://boosty.to/universo</a></p>
`
    }
  },
  meta() {
    return {
      title: `Техноком - ${this.title}`
    }
  },
  methods: {
    tileClick(url) {
      if (url.startsWith('http')) {
        openURL(url)
      } else this.$router.push(url)
    }
    // onResize(size) {
    //   // this.logoBlockStyle.top = (height(this.$refs.mainBlock.$el) - height(this.$refs.logoBlock) - 32) / 2 + 'px';
    // },
  },
  computed: {
    ...mapGetters({
      isLoggedIn: 'siriusoauth/isLoggedIn',
      user: 'siriusoauth/user',
      dark: 'UIstore/getDark',
      isLoading: 'UIstore/getIsLoading'
    })
  }
}
</script>
<style lang="sass" scoped>
.test-border
  border-style: dashed
  color: #31CCEC

.h100percent
  height: calc(100vh - 210px)

p
  color: white
  font-size: 20px

.arrow
  width: 15px

  &_pulsing
    animation: pulsing 3s linear infinite
    @keyframes pulsing
      0%
        opacity: 0.5
      50%
        opacity: 1
      100%
        opacity: 0.5
</style>
<style>
/* Push */
@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.99);
    transform: scale(0.99);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.99);
    transform: scale(0.99);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.hvr-push {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-push:hover,
.hvr-push:focus,
.hvr-push:active {
  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
</style>
