<template>
  <q-page v-if="projekto" padding :class="{ 'light-theme-style': !dark, 'dark-theme-style': dark }">
    <q-breadcrumbs active-color="primary" class="text-accent" separator="---">
      <q-breadcrumbs-el icon="home" to="/" />
      <q-breadcrumbs-el icon="widgets" label="Все проекты" to="/gp" />
      <q-breadcrumbs-el :label="projektoNomo" icon="navigation" />
    </q-breadcrumbs>
    <!-- content -->
    <q-tabs
      v-model="tab"
      show-arrows
      :dark="dark"
      align="left"
      class="text-weight-bold text-white shadow-2"
      narrow-indicator
    >
      <q-tab
        v-ripple
        v-for="(tab, idx) in tabs"
        :key="idx + 'tab'"
        :name="tab.name"
        :label="tab.label"
      >
        <q-badge color="accent" floating v-if="tab.name !== 'projekto'" transparent>
          {{
            `${
              tab.name === 'projekto'
                ? ''
                : tab.name === 'tasko'
                ? prkt.tasko.edges.length
                : ligoj.list.length
            }`
          }}
        </q-badge>
      </q-tab>
    </q-tabs>
    <q-tab-panels :dark="dark" v-model="tab" animated v-if="prkt">
      <q-tab-panel :dark="dark" name="projekto">
        <projekto-projekto
          v-model:can-change="canChange"
          v-model:projekto="projekto"
          v-model:uuid="uuid"
          v-model:dark="dark"
        />
      </q-tab-panel>
      <q-tab-panel :dark="dark" name="tasko">
        <projekto-taskoj
          :can-change="canChange"
          :prkt="prkt"
          v-model:showDialog="showDialog"
          :dark="dark"
        />
        <add-tasko v-model:showDialog="showDialog" :uuid="uuid"></add-tasko>
      </q-tab-panel>
      <q-tab-panel :dark="dark" name="ligoj">
        <projekto-ligoj :can-change="canChange" :obj-id="objId" :dark="dark" :ligoj="ligoj" />
      </q-tab-panel>
    </q-tab-panels>
  </q-page>
</template>
<script>
import { mapGetters } from 'vuex'
import { idParser, isJson, itemPriscriboContent } from '../utils'
import addTasko from 'components/Projekto/addTasko'
import ProjektoTaskoj from 'components/Projekto/ProjektoTaskoj'
import ProjektoLigoj from 'components/Projekto/ProjektoLigoj'
import ProjektoProjekto from 'components/Projekto/ProjektoProjekto'

export default {
  components: { ProjektoProjekto, ProjektoLigoj, ProjektoTaskoj, addTasko },
  data() {
    return {
      showDialog: false,
      projektoNomoField: '',
      projektoPriskriboField: '',
      itemPriscriboContent,
      isJson,
      idParser,
      tab: 'projekto',
      tabs: [
        {
          name: 'projekto',
          label: 'Проект'
        },
        {
          name: 'tasko',
          label: 'Задачи'
        },
        {
          name: 'ligoj',
          label: 'Связи'
        }
      ]
    }
  },
  meta() {
    return {
      title: `Техноком - ${this.title}`
    }
  },
  methods: {},

  created() {
    this.$store.dispatch('projekto/fetchProjekto', { objId: this.objId })
    this.$store.dispatch('ligoj/fetchTipoj')
    this.$store.dispatch('ligoj/fetchProjektojSimple')
    if (this.$route.query?.tab && this.tabSet.has(this.$route.query?.tab)) {
      this.tab = this.$route.query.tab
    } else {
      const query = Object.assign({}, this.$route.query)

      if (Object.keys(query).length > 0) {
        delete query.tab
        this.$router.push({ query: { ...query } })
        this.tab = 'projekto'
      } else {
        this.tab = 'projekto'
      }
    }
  },

  computed: {
    ...mapGetters({
      projekto: 'projekto/getProjekto',
      isLoading: 'UIstore/getIsLoading',
      isLoggedIn: 'siriusoauth/isLoggedIn',
      isAdmin: 'siriusoauth/isAdmin',
      dark: 'UIstore/getDark',
      ligoj: 'ligoj/getLigoj'
    }),

    prkt: function () {
      if (this.projekto.edges[0]?.node) {
        return this.projekto.edges[0].node
      }
      return null
    },

    title() {
      if (this.projektoNomoField) {
        return `Проект: ${this.projektoNomoField}`
      } else return 'Проект'
    },

    objId() {
      return idParser.call(this, '/gp', 'objId')
    },

    uuid() {
      return this.projekto?.edges[0]?.node?.uuid
    },

    projektoNomo() {
      return this.projekto?.edges[0]?.node?.nomo?.enhavo
    },

    canChange() {
      return this.isLoggedIn && this.isAdmin
    },
    tabSet() {
      return new Set(this.tabs.map((item) => item.name))
    }
  },

  watch: {
    uuid: function (cur) {
      if (cur) {
        this.$store.dispatch('ligoj/fetchLigoj', { posedanto_Uuid: cur, ligilo_Uuid: cur })
      }
    },

    '$route.params.objId': function (val) {
      if (val !== undefined) {
        this.$store.dispatch('projekto/fetchProjekto', { objId: this.objId })
      }
    },

    tab: function (cur, old) {
      const query = Object.assign({}, this.$route.query)
      if (cur === 'projekto') {
        delete query.tab
        if (this.$route.query.tab) {
          this.$router.push({ query: { ...query } })
        }
      } else {
        if (cur !== old && this.$route.query.tab !== cur) {
          this.$router.push({ query: { ...query, ...{ tab: cur } } })
        }
      }
    },

    '$route.query': function (cur) {
      if (cur.tab && this.tabSet.has(cur.tab)) {
        this.tab = cur.tab
      } else this.tab = 'projekto'
    }
  }
}
</script>
<style lang="sass">
.light-theme-style

  .q-tabs
    color: aliceblue !important

.dark-theme-style

  .q-tabs
    color: aliceblue !important
</style>
