<template>
  <q-page :dark="dark" padding>
    <q-infinite-scroll
      @load="onLoad"
      :offset="500"
      :debounce="100"
      :disable="disableInfiniteScroll"
    >
      <!-- content -->
      <template v-if="tutaProjektoj && tutaProjektoj.edges">
        <q-breadcrumbs active-color="primary" class="text-accent" separator="---">
          <q-breadcrumbs-el icon="home" to="/" />
          <q-breadcrumbs-el icon="widgets" label="Все проекты" />
        </q-breadcrumbs>
        <q-card
          v-for="(projekto, idx) in tutaProjektoj.edges"
          :key="idx + 'edges'"
          bordered
          class="items-start col-12 my-card"
          :dark="dark"
          flat
        >
          <list-item
            :to="'/p' + projekto.node.objId"
            :dark="dark"
            :label="projekto.node.nomo.enhavo"
            :caption="itemPriscriboContent(projekto.node.priskribo.enhavo)"
            :badge-label="`Задач: ${projekto.node.tasko.edges.length}`"
          >
            <q-item-section v-if="isLoggedIn && isAdmin" side>
              <q-btn
                color="accent"
                icon="delete_sweep"
                round
                size="md"
                @click.prevent="delProjekto(projekto.node)"
              >
                <q-tooltip content-class="bg-accent">Удалить</q-tooltip>
              </q-btn>
            </q-item-section>
          </list-item>
        </q-card>
      </template>
      <template v-slot:loading>
        <div class="row justify-center q-my-md">
          <q-spinner-dots color="primary" size="40px" />
        </div>
      </template>
    </q-infinite-scroll>
  </q-page>
</template>
<script>
import { Loading } from 'quasar'
import { mapGetters } from 'vuex'
import { confirmDialogParams, itemPriscriboContent } from '../utils'
import ListItem from 'components/Items/ListItem'

export default {
  components: { ListItem },
  data() {
    return {
      title: 'Все проекты',
      itemPriscriboContent,
      timeoutFlag: true
    }
  },

  meta() {
    return {
      title: `Техноком - ${this.title}`
    }
  },

  // created() {
  //   const props = {
  //     first: 25,
  //     after: this.endCursor,
  //   };
  //   this.$store.dispatch('tutaProjektoj/fetchTutaProjektoj', props);
  //
  //   setTimeout(() => {
  //     this.timeoutFlag = false;
  //   }, 3000);
  // },
  mounted() {
    const props = {
      first: 25,
      after: this.endCursor
    }
    this.$store.dispatch('tutaProjektoj/fetchTutaProjektoj', props)

    setTimeout(() => {
      this.timeoutFlag = false
    }, 3000)
  },

  computed: {
    ...mapGetters({
      tutaProjektoj: 'tutaProjektoj/getTutaProjektoj',
      isLoading: 'UIstore/getIsLoading',
      isLoggedIn: 'siriusoauth/isLoggedIn',
      isAdmin: 'siriusoauth/isAdmin',
      dark: 'UIstore/getDark'
    }),
    disableInfiniteScroll() {
      return this.timeoutFlag || !this.tutaProjektoj?.pageInfo?.hasNextPage
    },
    endCursor() {
      return this.tutaProjektoj?.pageInfo?.endCursor
    }
  },

  methods: {
    onLoad(index, done) {
      const props = {
        first: 25,
        after: this.endCursor
      }
      if (!this.tutaProjektoj?.pageInfo?.hasNextPage) {
        done()
        return
      }
      if (this.endCursor) {
        this.$store.dispatch('tutaProjektoj/fetchTutaProjektoj', props).then(() => {
          done()
        })
      } else {
        done()
      }
    },
    delProjekto({ uuid, nomo }) {
      this.$q
        .dialog({
          message: `Удаляем проект: ${nomo.enhavo}`,
          ...confirmDialogParams,
          dark: this.dark
        })
        .onOk(() => {
          this.$store.dispatch('tutaProjektoj/delProjekto', { id: uuid })
        })
    }
  }
}
</script>
<style lang="sass" scoped>
.my-card
  width: 100%
</style>
