<!--Страничка для экспериментов-->
<template>
  <q-page padding>
    <!-- content -->
    <q-btn @click="addToMap" text-color="white">ADD </q-btn>
    <div v-if="test.size > 0">
      <div
        v-for="([key], idx) in test"
        :key="idx + 'map'"
        class="text-white"
        @click="delTestMap($event)"
      >
        {{ key }}
      </div>
    </div>
  </q-page>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  name: 'testPage',
  data() {
    return {
      count: 0
    }
  },
  computed: {
    ...mapGetters({ test: 'test/getTestMap' })
  },
  methods: {
    delTestMap(item) {
      console.log(+item.target.innerText)

      this.$store.commit('test/delTestMap', +item.target.innerText)
    },

    addToMap: function () {
      this.count++
      this.$store.commit('test/setTestMap', this.count)
    }
  }
}
</script>
