<template>
  <!-- content -->
  <div>
    <q-dialog v-model="showDialog" persistent width="380">
      <q-card :dark="dark">
        <q-card-section horizontal>
          <q-item :dark="dark">
            <q-item-section>
              <q-item-label class="text-h6">Добавление проекта</q-item-label>
            </q-item-section>
          </q-item>
        </q-card-section>
        <q-card-section>
          <q-form @submit="addProjekto" @reset="onReset" class="q-gutter-md" ref="myForm">
            <q-select
              v-if="kategorioj"
              :dark="dark"
              multiple
              outlined
              v-model="kategorioId"
              :options="kategorioj.edges"
              label="Категории"
              :option-label="
                (item) => (Object(item) === item ? item.node.nomo.enhavo : 'Основная*')
              "
              :option-value="(item) => (Object(item) === item ? item.node.objId : null)"
              emit-value
              map-options
            />
            <q-select
              v-if="tipoj"
              :dark="dark"
              outlined
              v-model="tipoId"
              :options="tipoj.edges"
              label="Тип"
              :option-label="
                (item) => (Object(item) === item ? item.node.nomo.enhavo : 'Основной*')
              "
              :option-value="(item) => (Object(item) === item ? item.node.objId : null)"
              emit-value
              map-options
            />
            <q-select
              v-if="statusoj"
              :dark="dark"
              outlined
              v-model="statusoId"
              :options="statusoj.edges"
              label="Статус"
              :option-label="
                (item) => (Object(item) === item ? item.node.nomo.enhavo : 'Активный*')
              "
              :option-value="(item) => (Object(item) === item ? item.node.objId : null)"
              emit-value
              map-options
            />
            <q-input
              :rules="[(val) => (val && val.length > 0) || 'Напишите что-нибудь, пожалуйста']"
              :dark="dark"
              outlined
              v-model="nomo"
              label="Название проекта"
            ></q-input>
            <q-input
              :dark="dark"
              outlined
              v-model="priskribo"
              label="Описание проекта"
              :rules="[(val) => (val && val.length > 0) || 'Напишите что-нибудь, пожалуйста']"
            ></q-input>
            <q-btn :disabled="false" color="positive" type="submit"> Создать проект </q-btn>
            <q-btn :disabled="false" color="negative" type="reset"> Закрыть </q-btn>
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import { Loading } from 'quasar'

export default {
  name: 'addProjekto',
  props: {
    posedantoKomunumoId: {
      type: Number,
      required: true
    },
    showDialog: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      id: this.posedantoKomunumoId,
      nomo: '',
      priskribo: '',
      kategorioId: [1],
      tipoId: 1,
      statusoId: 1
    }
  },
  methods: {
    onReset() {
      this.nomo = ''
      this.priskribo = ''
      this.kategorioId = [1]
      this.statusoId = 1
      this.tipoId = 1
      // таймаут или raf чтобы не было ошибки Error in nextTick: "TypeError: Cannot read property 'validate' of null"
      // requestAnimationFrame(() => {
      //   this.$emit('update:showDialog', false);
      // });
      setTimeout(() => {
        this.$emit('update:showDialog', false)
      }, 16)
    },
    addProjekto() {
      const { nomo, kategorioId, tipoId, statusoId, priskribo } = this.$data
      this.$refs.myForm.validate().then((success) => {
        if (success) {
          this.$store
            .dispatch('projektoj/addProjektoj', {
              nomo: nomo,
              kategorio: kategorioId,
              tipoId: tipoId,
              statusoId: statusoId,
              priskribo: priskribo,
              posedantoUzantoId: this.user.objId,
              posedantoKomunumoId: this.id
            })
            .then(() => {
              this.onReset()
            })
        } else {
          console.log('Заполните обязательные поля')
        }
      })
    }
  },

  created() {
    this.$store.dispatch('projektoj/fetchKategorioj')
    this.$store.dispatch('projektoj/fetchStatusoj')
    this.$store.dispatch('projektoj/fetchTipoj')
  },

  computed: {
    ...mapGetters({
      user: 'siriusoauth/user',
      isLoading: 'UIstore/getIsLoading',
      dark: 'UIstore/getDark',
      kategorioj: 'projektoj/getKategorioj',
      statusoj: 'projektoj/getStatusoj',
      tipoj: 'projektoj/getTipoj'
    })
  }
}
</script>
