<template>
  <div>
    <q-btn color="accent" flat icon="edit" round size="md" @click="showDialog = true">
      <q-tooltip content-class="bg-accent">Изменить</q-tooltip>
    </q-btn>
    <q-dialog v-model="showDialog" :maximized="!$q.screen.gt.xs" persistent width="380">
      <q-card :dark="dark" flat>
        <q-card-section horizontal>
          <q-item :dark="dark">
            <q-item-section>
              <q-item-label class="text-h6">Изменение номера телефона</q-item-label>
            </q-item-section>
          </q-item>
        </q-card-section>
        <q-card-section>
          <q-stepper
            ref="stepper"
            v-model="step"
            :contracted="!$q.screen.gt.xs"
            :dark="dark"
            animated
            color="primary"
            flat
            vertical
          >
            <q-step
              :dark="dark"
              :done="step > 1"
              :name="1"
              :step="1"
              :title="steps[0].text"
              class="q-pa-md"
              icon="settings"
            >
              <!--              <q-field-->
              <!--                :error="isError"-->
              <!--                :dark="dark"-->
              <!--                outlined>-->
              <!--                <vue-tel-input-->
              <!--                  :autoFormat=true-->
              <!--                  :dropdownOptions="{showDialCodeInList:true, showDialCodeInSelection:true, showFlags:true}"-->
              <!--                  :inputOptions="{placeholder:'Введите номер телефона', styleClasses:['input-vue-tel-input-in-qfield', 'full-width',styleObject]}"-->
              <!--                  :styleClasses="['no-border','no-box-shadow','no-outline','wrapper-vue-tel-input-in-qfield', 'col-12']"-->
              <!--                  mode="international"-->
              <!--                  v-model="number"-->
              <!--                  @input="handleInput"-->
              <!--                >-->
              <!--                </vue-tel-input>  <template></template              >-->
              <!--              </q-field>-->
              <q-input
                id="phone"
                v-model="tel_number"
                :dark="dark"
                :rules="[
                  (v) => !!v || !this.tel_code || 'Укажите номер телефона',
                  (v) =>
                    /^(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){10,14}(\s*)?$/.test(v) ||
                    !v ||
                    'Недопустимые символы'
                ]"
                clearable
                label="Телефон"
                outlined
                required
              ></q-input>
            </q-step>
            <q-step :name="2" :step="2" :title="steps[1].text" class="q-pa-md" icon="settings">
              <q-input
                v-model="confirmCode"
                :dark="dark"
                label="Код подтверждения"
                outlined
              ></q-input>
            </q-step>
            <q-step :name="3" :step="3" :title="steps[2].text" class="q-pa-md" icon="settings">
            </q-step>
            <template v-slot:navigation>
              <q-stepper-navigation>
                <q-btn
                  v-if="step < 3"
                  class="float-right"
                  @click="step === 1 ? sendCode() : sendConfirmCode()"
                >
                  <template v-slot:default>
                    <span>{{ step === 1 ? 'Изменить номер' : 'Отправить код подтверждения' }}</span>
                    <q-icon class="on-right" name="send"></q-icon>
                  </template>
                </q-btn>
                <q-btn
                  v-close-popup
                  class="float-right"
                  type="reset"
                  @click="step === 3 ? onReset() : null"
                >
                  <template v-slot:default>
                    <span>Закрыть</span>
                    <q-icon class="on-right" name="cancel"></q-icon>
                  </template>
                </q-btn>
              </q-stepper-navigation>
            </template>
            <template v-slot:message>
              <q-banner v-if="step === 1" :dark="dark" class="q-px-lg">
                Введите новый номер и получите код подтверждения на почту
              </q-banner>
              <q-banner v-else-if="step === 2" :dark="dark" class="q-px-lg">
                Введите код подтверждения отправленный на почту
              </q-banner>
              <q-banner v-else :dark="dark" class="q-px-lg"> Телефон успешно изменен. </q-banner>
            </template>
            <!--            оставил заготовку, чтоб можно было двигаться по шагам регистрации произвольно-->
            <!--            <template v-slot:navigation>-->
            <!--              <q-stepper-navigation>-->
            <!--                <q-btn :label="step === 4 ? 'Finish' : 'Continue'"-->
            <!--                       color="primary"-->
            <!--                       @click="$refs.stepper.next()"/>-->
            <!--                <q-btn v-if="step > 1"-->
            <!--                       class="q-ml-sm"-->
            <!--                       color="primary"-->
            <!--                       flat-->
            <!--                       label="Back"-->
            <!--                       @click="$refs.stepper.previous()"/>-->
            <!--              </q-stepper-navigation>-->
            <!--            </template>-->
          </q-stepper>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
// import { VueTelInput } from 'vue-tel-input';
// import 'vue-tel-input/dist/vue-tel-input.css';
import { mapGetters } from 'vuex'
// import {ref} from 'vue';

export default {
  name: 'ChangePhoneDialog',
  components: {
    // VueTelInput,
  },
  data() {
    return {
      // number: ref(null),

      showDialog: false,
      steps: [
        { step: 1, text: 'Новый телефонный номер' },
        { step: 2, text: 'Код подтверждения' },
        { step: 3, text: 'Номер изменён' }
      ],
      step: 1,
      telNumber: null,
      confirmCode: null,
      isError: false,
      tel_number: null
    }
  },
  methods: {
    // handleInput(val, objVal) {
    //   if (objVal && objVal.hasOwnProperty('number')) {
    //     this.tel_number = objVal.number;
    //
    //   }
    //   if (objVal && objVal.hasOwnProperty('valid')) {
    //     this.isError = !objVal.valid && val.length > 0;
    //
    //   }
    // },
    clearPhone: function (number) {
      const str = number.toString()
      const matched = str.match(/[0-9]+/)
      return '+' + matched[0]
    },
    sendCode() {
      if (this.isError) return
      if (!this.tel_number) return
      this.telNumber = this.clearPhone(this.tel_number)
      const params = {
        tel: this.telNumber
      }
      this.$store.dispatch('uzanto/changeTelephoneOrEmail', params).then((resp) => {
        if (resp.status) {
          this.$q.notify({
            type: 'positive',
            message: resp.message
          })
          this.step++
        } else {
          this.$q.notify({
            type: 'negative',
            message: resp.message
          })
        }
      })
    },

    sendConfirmCode() {
      if (!this.confirmCode) return
      const params = {
        tel: this.telNumber,
        code: this.confirmCode
      }
      this.$store.dispatch('uzanto/changeTelephoneOrEmail', params).then((resp) => {
        if (resp.status) {
          this.$q.notify({
            type: 'positive',
            message: resp.message
          })
          this.step++
        } else {
          this.$q.notify({
            type: 'negative',
            message: resp.message
          })
        }
      })
    },
    onReset() {
      this.step = 1
      this.showDialog = false
    }
  },
  computed: {
    ...mapGetters({ dark: 'UIstore/getDark' }),
    styleObject: function () {
      if (this.dark) {
        return 'dark-theme'
      } else {
        return 'light-theme'
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.my-card {
  width: 100%;
  max-width: 250px;
}
</style>
<style>
/* note: the height 98% is to avoid the inner input to hide the bottom border of q-field */
.input-vue-tel-input-in-qfield {
  //height: 65%; //margin-bottom: auto; border-left: 0; border-right: 0;
  outline: none;
}

/* note: I use color dark for my text, I am forcing it because otherwise it is the same color as q-field - so here primary color or negative color when error - */
.wrapper-vue-tel-input-in-qfield {
}

.dark-theme {
  color: white;
  background: var(--q-color-dark);
}

.light-theme {
  color: unset;
  background: unset;
}
</style>
