<template>
  <q-form ref="reg_form" outlined @submit="registration">
    <q-input
      id="first_name"
      v-model="first_name"
      :dark="dark"
      :rules="nameRules"
      clearable
      label="Имя"
      maxlength="32"
      outlined
      required
    />
    <q-input
      id="last_name"
      v-model="last_name"
      :dark="dark"
      :rules="lastNameRules"
      clearable
      label="Фамилия"
      maxlength="48"
      outlined
      required
    />
    <q-input
      id="username"
      v-model="email"
      :dark="dark"
      :rules="emailRules"
      clearable
      label="E-mail"
      maxlength="128"
      outlined
      required
    />
    <q-input
      id="phone"
      v-model="tel_number"
      :dark="dark"
      :rules="[
        (v) => !!v || !this.tel_code || 'Укажите номер телефона',
        (v) =>
          /^(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){10,14}(\s*)?$/.test(v) ||
          !v ||
          'Недопустимые символы',
        (v) => !this.errors.hasOwnProperty('chefaTelefonanumero') || this.errors.chefaTelefonanumero
      ]"
      clearable
      label="Телефон"
      outlined
      required
    ></q-input>
    <q-select
      v-model="sex"
      :dark="dark"
      :options="sexes"
      clearable
      label="Пол"
      outlined
      style="padding-bottom: 20px"
    />
    <q-select
      v-if="infoj"
      v-model="language"
      :dark="dark"
      :options="infoj.lingvoj"
      :rules="langRules"
      label="Основной язык"
      outlined
      style="padding-bottom: 20px"
    >
      <template v-slot:option="scope">
        <q-item :dark="dark" v-bind="scope.itemProps">
          <span>{{ scope.opt.label }}</span>
          <q-avatar class="on-right" size="medium" square>
            <q-img :src="scope.opt.flag" />
          </q-avatar>
        </q-item>
      </template>
    </q-select>
    <q-input
      v-model="password"
      :dark="dark"
      :rules="passwordRules"
      clearable
      label="Пароль"
      maxlength="32"
      outlined
      required
      type="password"
    />
    <q-input
      id="confirm"
      v-model="confirm_password"
      :dark="dark"
      :rules="confirmRules"
      clearable
      label="Подтверждение пароля"
      maxlength="32"
      outlined
      required
      type="password"
    />
    <vue-recaptcha
      ref="vueRecaptcha"
      :site-key="sitekey"
      :tabindex="0"
      :theme="captchaTheme"
      align="right"
      outlined
      size="compact"
      @expire="recaptchaExpired"
      @fail="recaptchaFailed"
      @verify="recaptchaVerified"
    >
    </vue-recaptcha>
    <q-btn :disable="!recaptcha_key" class="float-right" outlined type="submit">
      <template v-slot:default>
        <span>Зарегистрироваться</span>
        <q-icon class="on-right" name="send"></q-icon>
        <!--        <q-circular-progress v-else-->
        <!--                             class="on-right"-->
        <!--                             indeterminate-->
        <!--                             size="28"/>-->
      </template>
    </q-btn>
  </q-form>
</template>
<script>
import { mapGetters } from 'vuex'
import vueRecaptcha from 'vue3-recaptcha2'

const nameRegexp = /[№~!?;,:'"@#$%^&*()_+{}<>\\[\]\\/]/
export default {
  components: {
    vueRecaptcha
  },
  name: 'RegForm',

  data() {
    return {
      isError: true,
      menu: false,
      nick_only: false,
      sitekey: process.env.VUE_APP_RECAPTCHA_SITE_KEY || '6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI',
      errors: {},
      optionsTelKodo: null,
      recaptcha_key: null,
      first_name: '',
      last_name: '',
      nameRules: [
        (v) => !!v || 'Поле обязательно для заполнения',
        (v) =>
          !nameRegexp.test(v) ||
          'Поле имеет недопустимые символы: скобки, подчеркивания, знаки препинания (кроме точки) и пр.'
      ],
      lastNameRules: [
        (v) =>
          !nameRegexp.test(v) ||
          'Поле имеет недопустимые символы: скобки, подчеркивания, знаки препинания (кроме точки) и пр.'
      ],
      nickname: '',
      nicknameRules: [
        (v) => !!v || 'Поле обязательно для заполнения',
        (v) => !v.length || v[0] !== '-' || 'Ник не может начинаться с символа минуса',
        (v) =>
          /^[a-zA-Z0-9ĈĉĤĥĴĵŜŝŬŭ-]+$/.test(v) ||
          'Ник может содержать только латинские символы, цифры, символ минуса, а так же расширенные символы эсперанто (ĈĉĤĥĴĵŜŝŬŭ)',
        (v) =>
          (v.length >= 5 && v.length < 31) || 'Ник должен быть иметь длину от 5 до 30 символов',
        (v) => !this.errors.hasOwnProperty('unuaNomo') || this.errors.unuaNomo
      ],
      email: '',
      emailRules: [
        (v) => !!v || 'Поле обязательно для заполнения',
        (v) => /^[^@]+@[^@]+\.[^@]+$/.test(v) || 'Указан некорректный e-mail',
        (v) => !this.errors.hasOwnProperty('chefaRetposhto') || this.errors.chefaRetposhto
      ],
      tel_code: null,
      tel_number: null,
      telCodeRules: [(v) => !!v || !this.tel_number || 'Укажите код'],
      telNumberRules: [
        (v) => !!v || !this.tel_code || 'Укажите номер телефона',
        (v) => /[0-9]+/.test(v) || !v || 'Недопустимые символы',
        (v) => !this.errors.hasOwnProperty('chefaTelefonanumero') || this.errors.chefaTelefonanumero
      ],
      sexes: [
        { label: 'Не указан', value: null },
        { label: 'Мужской', value: 'vira' },
        { label: 'Женский', value: 'virina' }
      ],
      sex: null,
      birthday_date: null,
      language: null,
      langRules: [
        // v => !!v || 'Поле обязательно для заполнения',
        // v => !this.errors.hasOwnProperty('lingvo') || this.errors.lingvo,
      ],
      password: '',
      passwordRules: [
        (v) => !!v || 'Поле обязательно для заполнения',
        (v) =>
          /^[0-9a-zA-Z+-_*.,;$!?%#=]+$/.test(v) ||
          'Допустимы только символы латинского алфавита, цифры и символы "_*.,;$!?%#="',
        (v) => (v.length >= 6 && v.length <= 32) || 'Пароль должен иметь длину от 6 до 32 символов',
        (v) => !this.errors.hasOwnProperty('pasvorto') || this.errors.pasvorto
      ],
      confirm_password: '',
      confirmRules: [
        (v) => !!v || 'Поле обязательно для заполнения',
        (v) =>
          /^[0-9a-zA-Z+-_*.,;$!?%#=]+$/.test(v) ||
          'Допустимы только символы латинского алфавита, цифры и символы "_*.,;$!?%#="',
        (v) => this.password === v || 'Пароли не совпадают'
      ]
    }
  },

  computed: {
    ...mapGetters({ infoj: 'registrado/getInfoj', dark: 'UIstore/getDark' }),
    styleObject: function () {
      if (this.dark) {
        return 'dark-theme'
      } else {
        return 'light-theme'
      }
    },
    captchaTheme: function () {
      return this.dark ? 'dark' : 'light'
    }
  },
  created() {
    this.$store.dispatch('registrado/fetchInfoj')
  },

  methods: {
    clearPhone: function (number) {
      const str = number.toString()
      const matched = str.match(/[0-9]+/)
      return matched[0]
    },

    recaptchaVerified(response) {
      this.recaptcha_key = response
    },
    recaptchaExpired() {
      this.recaptcha_key = null
      this.$refs.vueRecaptcha.reset()
    },
    recaptchaFailed() {
      this.recaptcha_key = null
      this.$refs.vueRecaptcha.reset()
    },
    filterFn(val, update, abort) {
      update(() => {
        const needle = val.toLowerCase()
        this.optionsTelKodo = this.infoj.tel_kodoj.filter(
          (v) => v.value.toLowerCase().indexOf(needle) > -1
        )
      })
    },

    mapErrorObject(errors) {
      const out = {}
      for (const item of errors) {
        out[item.field] = item.message
      }
      return out
    },
    registration() {
      //
      //       this.$refs.myForm.validate().then(success => {
      //         if (success) {
      //           // yay, models are correct
      //         }
      //         else {
      //           // oh no, user has filled in
      //           // at least one invalid value
      //         }
      //       })
      //
      // // to reset validations:
      //       this.$refs.myForm.resetValidation()
      if (!this.nick_only && this.$refs.reg_form.validate()) {
        const vars = {
          email: this.email,
          paswd: this.password,
          first_name: this.first_name,
          last_name: this.last_name,
          lang: this.language?.value || 'ru_RU',
          // tel: `${this.tel_code?.value || ""}${this.tel_number || ""}`,
          tel: `+${this.clearPhone(this.tel_number) || ''}`,
          sex: this.sex?.value || null,
          captcha: this.recaptcha_key
        }
        this.$store
          .dispatch('registrado/addUzanto', vars)
          .then((resp) => {
            if (resp.status) {
              this.$emit('success', true)
              // this.$root.$emit('authdata', {login: this.email, password: this.password});
              this.$store.commit('siriusoauth/setAuthData', {
                login: this.email,
                password: this.password
              })

              console.log('Пользователь зарегистрирован')
            } else {
              this.errors = this.mapErrorObject(resp.errors)
              this.$refs.reg_form.validate()
              this.errors = {}
              console.log('Пользователь не зарегистрирован')
              console.log(resp)
            }
          })
          .catch((e) => {
            console.error(e)
          })
      }
    }
  }
}
</script>
<style scoped></style>
<style>
/* note: the height 98% is to avoid the inner input to hide the bottom border of q-field */
.input-vue-tel-input-in-qfield {
  //height: 65%; //margin-bottom: auto; border-left: 0; border-right: 0; outline: none;
}

/* note: I use color dark for my text, I am forcing it because otherwise it is the same color as q-field - so here primary color or negative color when error - */
.wrapper-vue-tel-input-in-qfield {
}

.dark-theme {
  color: white;
  background: var(--q-color-dark);
}

.light-theme {
  color: unset;
  background: unset;
}
</style>
