<template>
  <div class="icon" :class="[`icon--${name}`, `icon--${size}`, { 'has-align-fix': fixAlign }]">
    <q-icon :name="name">
      <q-tooltip>{{ tooltip !== null ? tooltip : name }}</q-tooltip>
    </q-icon>
  </div>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      default: ''
    },
    tooltip: {
      type: String,
      default: null
    },
    size: {
      type: String,
      default: 'normal'
    },
    modifier: {
      type: Object,
      default: null
    },
    fixAlign: {
      type: Boolean,
      default: false
    }
  }
  // created: function() {}
}
</script>

<style lang="scss" scoped></style>
